* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

.wrapper-topgrid {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 17rem 17rem 4.25rem;
}

#flexconteiner {
  background: #C7DDEA;
  grid-column: auto / span 3;
  grid-row: span 2;
  position: relative;
}

#flexconteinertext {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding-top: 4.44rem;
  padding-left: 1.85rem;
}

#flexconteinertext h2 {
  width: 19.625rem;
  height: 6.3125rem;
}

.join-now-button {
  width: 8.1875rem;
  height: 2.4375rem;
  border-radius: 6.25rem;
  background: #FFF;
  box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.10);
  border: none;
  margin-top: 3.19rem;
}

.join-now-button:hover {

  box-shadow: 0px 3px 0px 2px rgba(0, 0, 0, 0.10);
}

.join-now-button a {
  text-decoration: none;
  margin: auto;
  display: flex;
  width: 6.3125rem;
  height: 1.875rem;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.80);
  text-align: center;
  font-family: 'Fira Sans';
  font-size: 0.625rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#flexconteiner p {
  width: 16.75rem;
  height: 6.4375rem;
  color: rgba(0, 0, 0, 0.60);
  font-family: 'Fira Sans';
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
  padding-right: 0.1rem;
}

#flexconteiner span {
  color: #FFF;
}

#conteinertop-right {
  grid-column: auto /span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #F17949;
}

#conteinertop-right p,
#conteinerbottom-right p {
  color: rgba(0, 0, 0, 0.50);
  text-align: center;
  font-family: 'Fira sans';
  font-size: 0.6875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.01375rem;
}

#conteinertop-right h2,
#conteinerbottom-right h2 {
  color: #FFF;
  text-align: center;
  font-size: 2rem;
  line-height: normal;
  letter-spacing: -0.04rem;
}

#conteinerbottom-right {
  grid-column: auto /span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFB939;
}

#nav {
  grid-column: 2 /span 4;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav nav {
  display: flex;
  width: 10.4375rem;
  height: 3.5625rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-family: 'Fira Sans';
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  /* 0.75rem */
  letter-spacing: -0.015rem;
  opacity: 0.4;
}

#nav nav:hover {
  opacity: 1;
}

img {
  width: 17.875rem;
  height: 17.4375rem;
  position: absolute;
  bottom: 0;
  right: 1.06rem;

}

h2 {
  font-family: 'Frank Ruhl Libre';
  font-size: 2.8125rem;
  /* 45px */
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  letter-spacing: -0.05625rem;
}

/*---------------------Main-------------------*/

#main-grid-middle {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 40rem;
  background-color: gray;
}

#left-main-flex {
  grid-column: auto / span 3;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: center;
  background: #A9A19E;
  padding: 4.25rem;

}

#text-box-left {
  width: 314px;
  height: 140px;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  /* or 45px */
  letter-spacing: -0.02em;
  color: #FFFFFF;
  margin-bottom: auto;
  margin-top: 2rem;
}

#text-box-right {
  width: 280px;
  height: 237px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  color: rgba(0, 0, 0, 0.6);

  margin-bottom: auto;
  margin-top: 2rem;
}

#right-main-flex {
  grid-column: auto / span 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #A9A19E;
  padding: 4.25rem;
  line-height: 1.5;
}

.join-now-button {
  border-radius: 100px;
  width: 131px;
  height: 39px;
  margin-bottom: auto;
  position: relative;
  top: -100px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.8);
}

/*-------------Three-pictures-----------*/

#picture-container {
  position: relative;
  top: -18rem;
  grid-column: auto / span 6;
  grid-row: 4.25rem;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.white-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  height: 308px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 20px;

}

.card-header {
  width: 198px;
  height: 13px;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: rgba(0, 0, 0, 0.9);
}

.frame-for-photo {
  position: relative;
  top: -25px;
  border-radius: 4px;
  width: 236px;
  height: 150px;
  overflow: hidden;
}

.color-for-frame-one {
  background: #C7DDEA;
}

.color-for-frame-two {
  background: #FAB131;
}

.color-for-frame-three {
  background: #F17949;
}

.paragraph-text {
  width: 214px;
  height: 108px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.card-image-resizing {
  position: relative;
  left: 80px;
  top: 10px;
  width: 100px;
  height: 162px;
}

.card-image-resizing-two {
  position: relative;
  left: 65px;
  top: 10px;
  width: 104px;
  height: 433px;
}

.card-image-resizing-three {
  position: relative;
  left: 55px;
  top: 20px;
  width: 133.56px;
  height: 364.1px;
}

/*-------------main-bottom--------------*/

#main-bottom {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #ffb939;
}

.main-bottom-flex {
  grid-column: auto / span 6;
  padding: 4.25rem;
  line-height: 1.5rem;
}

.text-span {
  position: relative;
  top: -620px;
  grid-column: 2 / span 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

#text-box-bottom-about-us {
  letter-spacing: -0.02em;
  font-family: 'Frank Ruhl Libre';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 100%;
  color: #FFFFFF;
}

.text-box-bottom {
  width: 442px;
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}